<!-- <img src='assets/img/airlines.jpg' width="200" height="200"/> -->
<app-header></app-header>
    <div class="outer ">
	  	<span class="btn btn-primary btn-lg active">
	    	<a [routerLink]="['login']" class="textColor">Login</a>
	  	</span>

		<span class="btn btn-primary btn-lg">
	    	<a [routerLink]="['signup']" class="textColor">SignUp</a>
	  	</span>

	  	<span class="btn btn-primary btn-lg">
	    	<a [routerLink]="['flightSearch']" class="textColor">Flight Search</a>
	  	</span>
	</div>


<app-footer></app-footer>
